.Logs {
    border: 2px, solid, $color-primary;
    height: 20vh;
    width: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .LogHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        padding: 5px;
        h2 {
            margin-left: 10px;
        }
        button.LogExpand {
            border: 1px solid $color-primary;
            width: 24px;
            height: 24px;
            border-radius: 10px;
        }
    }
    .LogList {
        overflow-y: auto;
        flex-grow: 1;
        scrollbar-width: thin;
        .log {
            border-bottom: 1px solid $color-primary;
            padding: 5px 10px;
        } // Line below Log record
    }
}
// TODO: Make each record expandable and limit to ... if eror log is too long