.botSettings {
    .open-settings {
        background-image: url("../public/settings.png");
        width: 3em;
        height: 3em;
        border-radius: 10px;
    }

    .pop-up-form {
        
    }
}