.side-bar-footer {
    display: flex;
    justify-content: center;
    .open-settings {
        background-image: url("../public/settings.png");
        background-size: cover;
        width: 3.5em;
        height: 3.5em;
        border-radius: 10px;
        padding: 5px;
    }
}

.MainSettings {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: space-around;
    overflow: scroll;
    .botSettings {
        margin: 0.5em;
        form > * {
            padding-top: 0.5em;
        }
    }
}

