.botSettings {
    .open-settings {
        background-image: url("../public/settings.png");
        background-size: cover;
        width: 3.5em;
        height: 3.5em;
        border-radius: 10px;
        padding: 5px;
    }
}