.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    .side-bar-top {
        display: flex;
        justify-content: space-around;
    }
}



// Settings button and other cli-functions